.app-body {
  background-color: #000 !important;
  height: 100vh;
  font-family: Century Gothic Regular, sans-serif;
}
@media (max-width: 991.98px) {
  .app-body {
    margin-top: 0px;
  }
}
.title {
  color: #fff;
  font-size: xx-large;
}
.line-gradient {
  height: 2px;
  background-image: linear-gradient(to top right, #0ff3a6, #c909f4);
}
a.btn-back {
  color: #fff;
  border: 2px solid;
  border-image-source: linear-gradient(to bottom, #c909f4, #0ff3a6 ) !important;
  border-image-slice: 1;
  /* background: #14131d; */
}

ul {
  padding-top: 5vh;
  padding-bottom: 10vh;
  text-align: center;
  padding-left: 0;
}

ul li {
  height: 100px;
  list-style: none;
  float: left;
  margin-bottom: 5vh;
}
ul li a.btn-category {
  height: 100%;
  text-align: center;
  line-height: 100%;
  border: 3px solid #fff;
  border-image-source: linear-gradient(to bottom, #c909f4, #0ff3a6) !important;
  border-image-slice: 2;
  background-color: #fff;
  font-weight: bold;
  line-height: 6;
}

.time {
  font-size: 20px;
}

.badge-warning {
  background-color: #20a8d8;
  color: #fff;
}
