<div class="app-body d-flex align-items-center">
  <main class="main">
    <div class="container-fluid">
      <div class="line-gradient mt-3"></div>

      <h1 class="text-center text-white mt-5 aaa" style="font-size: 50px;">Bottom Warehouse Management Kanban</h1>
      <section id="portfolio" class="header-background">
        <div class="container button-container">
          <div class="row">
              <div class="col-md-4 col-sm-4"><button [routerLink]="['/kanban/by-category/main']" class="button1">By
                  Categories </button></div>
              <div class="col-md-4 col-sm-4"><button [routerLink]="['/kanban/by-rack/main']" class="button2">By Racks
                  Area </button></div>
              <div class="col-md-4 col-sm-4"><button [routerLink]="['/kanban/by-po/main']" class="button3">By
                  PO </button></div>
            </div>
        </div>
      </section>

      <div class="line-gradient mb-4"></div>
    </div>
  </main>
</div>
