.custom-thead {
    background-color: #20a8d8;
    color: #fff;
    font-weight: bold;
  }
  .custom-background-print {
    background-color: #aaaaaa;
  }
input[type=number] {
  height: 50px;
}
input[type=number]::-webkit-inner-spin-button {
  height: 50px;
}
  