// Here you can add other styles
.menu-margin a {
  padding-left: 30px !important;
}
.menu-child-margin a {
  padding-left: 35px !important;
}

.sidebar .nav-link:hover {
  background: #000;
}
.sidebar .nav-link {
  color: #b4bcc8 !important;
}

.nav {
  background-color: #364150 !important;
}

//dashboard
.pt-30 {
  padding-top: 30px !important;
}

.text-color-white {
  color: #fff;
  font-size: 28px; color: white; font-weight: 400; font-family: "Century Gothic Regular", sans-serif;
}
